<style>
    footer li {
        padding-top: 5px;
    }

    footer li a {
        color: gray;
        font-size: 80%;
    }

    footer li a:hover {
        color: white;
        text-decoration: underline
    }

    footer h5 {
        color: white;
        margin-top: 20px;
        font-weight: bold;
    }

    .devby {
        color: white;
        padding: 25px
    }
</style>
<footer class="footer has-background-dark">
    <div class="columns is-centered has-text-centered">
        <div class="column is-one-quarter">
            <h5>Chuyên mục</h5>
            <ul>
                <li>
                    <a href="/kinh-nghiem">Kinh nghiệm</a>
                </li>
                <li>
                    <a href="/xuyen-viet">Xuyên Việt</a>
                </li>
                <li>
                    <a href="/du-ky">Du ký</a>
                </li>
            </ul>
        </div>
        <div class="column is-one-quarter">
            <h5>Kết nối</h5>
            <ul>
                <li>
                    <a href="https://www.instagram.com/ngaoduky">Instagram</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/ngaoduky.com">Facebook</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/ngaoduky">Youtube</a>
                </li>
                <li>
                    <a href="https://twitter.com/ngaoduky">Twitter</a>
                </li>
            </ul>
        </div>

        <div class="column is-one-quarter">
            <h5>Ngao Du Ký</h5>
            <ul>
                <li>
                    <a href="/policies.html">Chính sách</a>
                </li>
                <li>
                    <a href="/">Trang nhất</a>
                </li>
                <li>
                    <a href="/about">Giới thiệu</a>
                </li>
            </ul>
        </div>

    </div>
    <hr>
    <div class="devby has-text-centered">
        <p>
            @ngaoduky by @xuanhuyjs
        </p>
    </div>
</footer>