<div>
    <h3>Series
        <a href="/xuyen-viet">Xuyên Việt</a> gồm 10 phần:</h3>
    <ul style="margin: 20px">
        <li>
            <a href="/bat-dau-hanh-trinh-xuyen-viet">
                Phần 1: Bắt đầu hành trình Xuyên Việt
            </a>
        </li>
        <li>
            <a href="/trai-nghiem-cuoc-song-cung-dan-ban-dia">
                Phần 2: Trải nghiệm cuộc sống cùng dân bản địa tại Phú Yên
            </a>
        </li>
        <li>
            <a href="/eo-gio-dac-san-quang-ngai">
                Phần 3: Ghé Quy Nhơn, Eo Gió, Quảng Ngãi
            </a>
        </li>
        <li>
            <a href="/cheo-thuyen-kayak-tren-song-han">
                Phần 4: Chèo thuyền Kayak trên sông Hàn
            </a>
        </li>
        <li>
            <a href="/lang-bich-hoa-tam-thanh-quang-nam">
                Phần 5: Ghé làng bích họa Tam Thanh - Quảng Nam
            </a>
        </li>
        <li>
            <a href="/xuyen-viet-bac-trung-bo">
                Phần 6: Bắc Trung Bộ
            </a>
        </li>
        <li>
            Phần 7: Hội ngộ cùng đồng bọn và lên Tam Đảo
        </li>
        <li>
            Phần 8: Mù Cang Chải và 2 trong tứ đại đỉnh đèo của Việt Nam
        </li>
        <li>
            Phần 9: Sa Pa và chinh phục Fansipan
        </li>
        <li>
            Phần 10: Hà Giang
        </li>
    </ul>
</div>
---