--- 
layout: page 
--- 
{% for post in paginator.posts %}
<h4>Day la h4</h4>
{% endfor %} {% if paginator.total_pages > 1 %} {% include pageNav.html %} {% endif %}

<main class="g-container home-content">

    <!-- List post -->
    <div class="article-list">
        {% for post in site.posts %} {% if post.categories contains page.category_name %}
        <article class="article-item">
            {% if post.cover %}
            <div class="post-cover">
                <a class="post-link" href="{{ post.url }}" title="{{ post.title }}"></a>
                <img src="{{ post.cover }}" alt="">
            </div>
            {% endif %}
            <section class="post-preview">
                <a class="post-link" href="{{ post.url }}" title="{{ post.title }}"></a>
                <h2 class="post-title">{{ post.title }}</h2>
                {% if post.subtitle %}
                <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                {% endif %} {% if post.subtitle.size==0 or post.subtitle==nil %}
                <p class="post-excerpt">{{ post.excerpt | strip_html | strip_newlines | truncate: 126}}</p>
                {% endif %}
            </section>
            <footer class="post-meta">
                <time class="post-date" datetime="{{ post.date | date:" %y-%m-%d " }}">{{ post.date | date_to_string }}</time>
            </footer>
        </article>
        {%endif%} {% endfor %}
    </div>
</main>

</div>